button
{
    display: block;
    color: silver;
    background-color: transparent;
    margin: 0;
    border: 0;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

input, select
{
    color: silver;
    background: black;
    border: 1px solid #666;
    border-radius: 4px;
    font-size: 12px;
    outline: none;
    padding: 0 5px 0 5px;
    height: 21px;
    pointer-events: auto;
    margin-right: 2px;
}

input[ type=range ]
{
    padding: 0;
    margin: 0;
    height: 21px;
    background: transparent;
}

input[ type=range ]::-webkit-slider-thumb
{
    -webkit-appearance: none;
}

input[ readonly ]
{
    color: #666;
}

select, input[ type=button ], input[ type=submit ]
{
    min-width: 60px;
    height: 23px;
}

input[ type=number ]
{
    max-width: 50px;
    height: 21px;
    color: lime;
}

input[ type=button ]
{
    color: cyan;
}

input[ type=button ]:hover, input[ type=submit ]:hover
{
    background-color: #666;
    cursor: pointer;
}

input:disabled
{
    color: black;
    background: #900;
    cursor: none;
}

::placeholder
{
    color: #333;
}

.form
{
    padding: 10px;
    background-color: #111;
    border: 1px solid #333;
    border-radius: 4px;
    display: block;
    text-align: left;
}

.formadd
{
    margin-left: 10px;
}

.formarray
{
    display: inline-block;
    min-height: 13px;
    min-width: 125px;
}

.formbutton
{
    user-select: none;
    font-size: 17px;
    font-family: Courier, Monaco, monospace;
    text-align: center;
    color: cyan;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 50%;
    min-height: 21px;
    min-width: 21px;
    background-color: black;
    margin-right: 4px;
}

.formbutton:hover
{
    background-color: silver;
    color: black;
}

.formcollapsed
{
    height: 15px;
    overflow-y: hidden;
}

.formcollapsed .formtitle
{
    cursor: zoom-in;
}

.formcolor
{
    display: inline-block;
    height: 23px;
    width: 23px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: black;
    margin-right: 4px;
}

.formcolumn
{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.formconfirm
{
    color: green;
}

.form-content
{
    display: block;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 0 0 4px 4px;
}

.form-contents
{
    display: block;
}

.formdisabled
{
    pointer-events: none;
    color: #333;
}

.formerror
{
    color: red;
}

.formhighlight
{
    background-color: transparent;
    border-radius: 4px;
}

.formhighlight:hover
{
    cursor: pointer;
    background-color: #333;
}

.forminvalid
{
    background-color: red !important;
}

.formadd, .formitem, .formlist
{
    display: flex;
    align-items: center;
}

.formitem > span, .formlink
{
    user-select: none;
    color: silver;
    font-size: 12px;
    line-height: 13px;
    padding: 4px 10px 4px 10px;
    border: 1px solid #666;
    border-radius: 4px;
    white-space: nowrap;
    text-align: left;
    background-color: black;
    min-width: 80px;
}

.formlink
{
    text-align: center;
}

.formitem > span:hover, .formlink:hover
{
    cursor: pointer;
    background-color: #008080;
}

.formkey
{
    margin: 0;
    padding: 0 4px 0 6px;
    display: inline-block;
    vertical-align: middle;
}

.formlabel
{
    color: orange;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 2px;
}

.formlist
{
    display: inline-block;
    border: none;
    border-radius: 0;
    padding: 0 6px 0 6px;
    border-left: 10px solid #008B8B;
    background-color: transparent;
    width: 125px;
    overflow-x: hidden;
}

.formmax
{
    width: 100%;
}

.formmax > span
{
    width: 60%;
}

.formright
{
    float: right;
}

.formselected
{
    background-color: #333 !important;
}

.formshrink
{
    height: 0;
    transition: height 0.5s ease-out;
}

.formswitch
{
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    font-size: 1em;
    color: #666;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
    height: 12px;
    width: 12px;
}

.formswitch:hover
{
    color: white;
}

.formsxs
{
    display: flex;
}

.form-tab
{
    border: 1px solid #333;
    border-bottom: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: silver;
    display: inline-block;
    padding: 5px 10px 5px 5px;
    white-space: nowrap;
}

.form-tab:hover
{
    color: white;
    cursor: pointer;
    background-color: #333 !important;
}

.form-tabs
{
    pointer-events: auto;
}

.formtitle
{
    color: #666;
    font-size: 1.5em;
    text-transform: capitalize;
    cursor: zoom-out;
}

.formtree
{
    overflow-y: auto;
    height: 0;
    min-width: 125px;
    transition: height 0.5s ease-out;
    pointer-events: auto;
}

.formtreeexpand
{
    height: auto;
    transition: height 0.5s ease-out;
}
