.table-form
{
    display: table;
    border-spacing: 0;
    pointer-events: auto;
    table-layout: fixed;
}

.table-row
{
    display: table-row;
}

.table-cell, .table-number, .table-heading
{
    border-right: 4px solid transparent;
    border-radius: 4px;
    display: table-cell;
    margin: 0;
    max-width: 25vw;
    padding: 2px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    user-select: none;
}

.table-border
{
    border-top: 1px solid #222;
    border-right: 1px solid #222;
}

.table-control
{
    background-color: #222;
    border: 1px solid #333;
    border-radius: 4px;
    color: silver;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    width: 25px;
    vertical-align: middle;
    height: 21px;
}

.table-control:hover
{
    background-color: #066;
}

.table-disabled
{
    opacity: 0.35;
    pointer-events: none;
}

.table-divider
{
    color: #999;
    font-family: monospace;
    font-size: 1.5em;
    max-width: 80px;
    text-align: left;
    white-space: nowrap;
}

.table-heading
{
    border: none;
    pointer-events: none;
    color: #666;
    font-size: 1.2em;
    line-height: 23px;
    padding-bottom: 2px;
    text-align: left;
    vertical-align: top;
}

@keyframes FadeIn
{
    from
    {
        background-color: #060;
    }

    to
    {
        background-color: transparent;
    }
}

.table-highlight
{
    background-color: transparent;
    animation: FadeIn 2s ease-in-out forwards;
}

.table-none
{
    pointer-events: none;
}

.table-number
{
    border: none;
    color: #666;
    cursor: move;
    font-size: 1.2em;
    text-align: center;
    width: 25px;
    vertical-align: middle;
}

.table-separator
{
    margin: 0 5px 0 5px;
    min-height: 21px;
}

.table-text
{
    padding: 0 4px 0 4px;
}

/* lipstick */
.table-add
{
    background-color: #222;
}

.table-hover:hover
{
    background-color: #333;
}

.table-underline
{
    min-height: 21px;
}
