.table-form
{
    display: table;
    border-spacing: 2px;
    pointer-events: auto;
}

.table-row
{
    display: table-row;
}

.table-cell, .table-number, .table-heading
{
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    white-space: nowrap;
}

.table-heading
{
    pointer-events: none;
    color: orange;
    font-size: 1.2em;
    padding-bottom: 2px;
    text-align: left;
}

.table-number
{
    color: #666;
    font-size: 1.2em;
    max-width: 25px;
    text-align: right;
}

/* lipstick */
.table-add
{
    background-color: #033;
}

.table-border
{
    border-top: 1px dotted #333;
    border-right: 1px dotted #333;
}

.table-hover:hover
{
    background-color: #333;
}
