svg, .svglike
{
    border: 1px dotted #333;
    border-radius: 5%;
}

.svglike
{
    padding: 8px;
    overflow-y: hidden;
}

.circlename
{
    font-size: 3em;
    fill: #666;
    pointer-events: none;
    text-anchor: middle;
}

.circlevalue
{
    font-size: 1em;
    fill: #CCC;
    pointer-events: none;
    text-anchor: middle;
}

.svglabel
{
    pointer-events: none;
    fill: white;
    font-size: 1.2em;
    font-weight: bold;
}